@import '~normalize.css';

body {
  font-size: 1rem;
}

.general{
  color: #263238;
  min-height: 100vh !important;
  margin-bottom: 0 !important;
  font-weight: 300;
}
.column-left{
  min-height: 100vh !important;
}

.column-right{
  min-height: 100vh !important;
  padding:0px !important;
}
.center{
  margin: 0 auto;
}

.quote-area{
  margin-top: 10%;
}

.quote-area__tag{
  border: 2px solid;
  color: black !important;
  padding: 5px;
  width: 125px;
  font-weight: 300;
  font-size: 16px;

  &[data-themeable="first"] {
    border-color: #00acc1;
  }

  &[data-themeable="second"] {
    border-color: #ffde7d;
  }

  &[data-themeable="third"] {
    border-color: #ea5455;
  }
}

.quote-area__dayquote{
  font-size: 1.87em;
  font-weight: 300;
  padding-top: 40px;
}

.quote-area__twitter-button{
  font-size: 1.47em;
  padding-top: 10px;
}

.clock{
  font-size:3.3em;
  padding-top: 20px;
}

.clock__hours{
  font-weight: 200;
  margin-left: .2em;
}

.clock--format{
  vertical-align: 1.7em;
  font-size:0.3em;
  text-transform: uppercase;
}

.share-extension{
  margin-top: 50px;
  margin-bottom: 30px;
}

.share-extension__label{
  text-transform: uppercase;
  font-size:0.7em;
  margin-top: -5px;
}

.logo{
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid #fff;
  font-weight:200;
  width:120px;
  text-align: center;
  margin-top: 40px;
}

.search{
  margin-top: 3em;
  padding-left: 5%;
  padding-right: 5%;
  font-family:'arial', sans-serif;
}

.search-input{
  font-size:0.94em;
  font-weight:200;
  color: rgb(255,255,255);
  border-radius: 5px !important;
  border: 1px solid rgba(255,255,255,0.5) !important;
  height:2em !important;
  padding: 1% 1% 1% 5% !important;
  width: 95% !important;
  font-family: Roboto !important;
}

input.icon {
  padding:5px;
  color: rgb(255,255,255);
}

input.icon::-webkit-input-placeholder {
  font-family:'FontAwesome';
  color: rgba(255,255,255,0.5);
}
input.icon::-moz-placeholder {
  font-family:'FontAwesome';
  color: rgba(255,255,255,0.5);
}
input.icon::-ms-input-placeholder {
  font-family: 'FontAwesome';
  color: rgba(255,255,255,0.5);
}

.filter{
  font-size:0.8em;
  font-weight:200;
}

.filter-link{
  text-decoration: none;
  color: #eeeeee;
  margin: 0 .5rem;
  font-weight: bold;

  &.active {
    color: #00acc1;
  }
}

.jobs{
  margin-top: 1.5rem;
}

.jobs-header{
  margin-bottom: 0 !important;
  text-transform: uppercase;
  font-size:0.8em;
}

.jobs-header__element{
  display: inline;
}

.jobs-header__element a{
  text-decoration: none;
  color: #eee;
}

.jobs-item-container {
  overflow-y: auto;
  max-height: 29rem;
}

.jobs-item{
  color: #fff;
  font-size:0.94em;
  padding: 10px !important;
  margin: 0 !important;
}

.jobs-message-container {
  font-size: 1.2rem;
  height: 8rem;
  padding: 3rem 0;
  text-align: center;
}

.jobs-item:hover{
  background-color: rgba(255, 255, 255, 0.05);
}

.jobs-item__company{
  display: inline;
  font-size: 0.57em;
  font-weight: bold;
  color: #00acc1;
  border: 1px solid #00acc1;
  padding: 2px !important;
  text-transform: uppercase;

  &[data-themeable="first"] {
    border-color: #00acc1;
    color: #00acc1;
  }

  &[data-themeable="second"] {
    border-color: #ffde7d;
    color: #ffde7d;
  }

  &[data-themeable="third"] {
    border-color: #ea5455;
    color: #ea5455;
  }
}

.jobs-item__job{
  display: inline;
}

.jobs-item__date{
  display: inline;
}

.align-vertical{
  vertical-align: 0.2em;
}

.page-theme{
    font-size: 1.25em;
    color: rgba(238, 238, 238, 0.5);
    margin-top: 40px;
}

.page-theme__item{
  display: inline;
  margin: 0 .2rem;

  &:not(:first-child) {
    cursor: pointer;
  }
}

.spinner {
  display: flex;
  justify-content: center;

  div {
    border-radius: 50%;
    height: .8rem;
    margin: 0 .5rem;
    width: .8rem;

    &:first-child {
      background-color: #00acc1;
      animation: up-and-down .5s ease-in-out -.1s infinite alternate;
    }

    &:nth-child(2) {
      background-color: #ffde7d;
      animation: up-and-down .5s ease-in-out -.3s infinite alternate;
    }

    &:nth-child(3) {
      background-color: #ea5455;
      animation: up-and-down .5s ease-in-out -.5s infinite alternate;
    }
  }
}

[data-themeable="first"] {
  &.fa, .active {
    color: #00acc1;
  }
}

[data-themeable="second"] {
  &.fa, .active {
    color: #ffde7d;
  }
}

[data-themeable="third"] {
  &.fa, .active {
    color: #ea5455;
  }
}

.footer{
  font-size: 0.75em;
  color: rgba(238, 238, 238, 0.5);
  margin-top: 70px;
  padding-bottom: 40px;
}

.footer a{
  color: rgba(238, 238, 238, 0.5);
  text-decoration: none;
  font-weight: 500;
}

@keyframes up-and-down {
  0% {
   transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
